Repository assemblee-virtuelle/semapps, pull requests merged in 2020-04, with the labels that each got.

#196 Implement SPARQL query in React-Admin data provider
  src/frontend/dms/package-lock.json
  src/frontend/dms/package.json
  src/frontend/dms/src/App.js
  src/frontend/dms/src/components/SearchFilter.js
  src/frontend/dms/src/config/ontologies.json
  src/frontend/dms/src/config/resources.js
  src/frontend/dms/src/resources/organizations.js
  src/frontend/dms/src/resources/persons.js
  src/frontend/dms/src/resources/projects.js
  src/frontend/dms/src/semapps/dataProvider.js
Labels: ready

#194 Allow to use connector inside API gateway, without Express
  src/middleware/boilerplates/runner/configureExpress.js
  src/middleware/boilerplates/runner/createServices.js
  src/middleware/boilerplates/runner/index.js
  src/middleware/boilerplates/runner/package.json
  src/middleware/packages/connector/CasConnector.js
  src/middleware/packages/connector/Connector.js
  src/middleware/packages/connector/OidcConnector.js
  src/middleware/packages/connector/package-lock.json
  src/middleware/packages/connector/package.json
Labels: authentification, ready

#198 LDP container service
  src/frontend/dms/src/config/resources.js
  src/frontend/playground/src/App.js
  src/frontend/playground/src/ResourcePreview.js
  src/frontend/playground/src/pages/MessagesPage.js
  src/frontend/playground/src/pages/ResourceDeletePage.js
  src/frontend/playground/src/pages/ResourceEditPage.js
  src/frontend/playground/src/pages/ResourceViewPage.js
  src/frontend/playground/src/resourcesTypes.js
  src/frontend/playground/src/utils.js
  src/middleware/boilerplates/runner/createServices.js
  src/middleware/packages/activitypub/routes.js
  src/middleware/packages/ldp/adapter.js
  src/middleware/packages/ldp/index.js
  src/middleware/packages/ldp/routes.js
  src/middleware/packages/ldp/service.js
  src/middleware/packages/ldp/services/container/actions/attach.js
  src/middleware/packages/ldp/services/container/actions/create.js
  src/middleware/packages/ldp/services/container/actions/exist.js
  src/middleware/packages/ldp/services/container/actions/get.js
  src/middleware/packages/ldp/services/container/index.js
  src/middleware/packages/ldp/services/resource/actions/delete.js
  src/middleware/packages/ldp/services/resource/actions/get.js
  src/middleware/packages/ldp/services/resource/actions/getByType.js
  src/middleware/packages/ldp/services/resource/actions/patch.js
  src/middleware/packages/ldp/services/resource/actions/post.js
  src/middleware/packages/ldp/services/resource/index.js
  src/middleware/packages/ldp/services/resource/methods.js
  src/middleware/packages/ldp/utils.js
  src/middleware/packages/webid/service.js
  src/middleware/tests/ldp/ldp.test.js
  src/middleware/tests/ldp/ldp_api.test.js
  src/middleware/tests/webId/webId.test.js
Labels: ldp, ready

#210 Use Moleculer Runner for boilerplate
  Makefile
  docker-compose.yaml
  src/middleware/boilerplates/runner/createServices.js
  src/middleware/boilerplates/runner/entrypoint.sh
  src/middleware/boilerplates/runner/index.js
  src/middleware/boilerplates/runner/moleculer.config.js
  src/middleware/boilerplates/runner/package.json
  src/middleware/boilerplates/runner/services/activitypub.service.js
  src/middleware/boilerplates/runner/services/api.service.js
  src/middleware/boilerplates/runner/services/fuseki-admin.service.js
  src/middleware/boilerplates/runner/services/ldp.service.js
  src/middleware/boilerplates/runner/services/sparql-endpoint.service.js
  src/middleware/boilerplates/runner/services/triplestore.service.js
  src/middleware/boilerplates/runner/services/webid.service.js
  src/middleware/packages/activitypub/service.js
  src/middleware/tests/activitypub/activitypub.test.js
Labels: dev, ready

#204 Create how-to-document-with-docusaurus.md
  website/docs/governance/Code-social.md
  website/docs/participate/how-to-document-with-docusaurus.md
Labels: documentation, not ready

#228 middle level SPARQL computing migration to ldp service + claen up logic + spimplify patch
  src/middleware/packages/activitypub/services/object.js
  src/middleware/packages/ldp/services/resource/actions/delete.js
  src/middleware/packages/ldp/services/resource/actions/patch.js
  src/middleware/packages/ldp/services/resource/actions/post.js
  src/middleware/packages/ldp/services/resource/actions/put.js
  src/middleware/packages/ldp/services/resource/methods.js
  src/middleware/packages/triplestore/index.js
  src/middleware/packages/triplestore/package.json
  src/middleware/tests/activitypub/follow.test.js
  src/middleware/tests/activitypub/object.test.js
  src/middleware/tests/ldp/ldp.test.js
  src/middleware/tests/package-lock.json
  src/middleware/tests/package.json
Labels: backend, ldp, ready

#231 Replace expand param with queryDepth
  src/middleware/packages/activitypub/service.js
  src/middleware/packages/activitypub/services/activity.js
  src/middleware/packages/activitypub/services/actor.js
  src/middleware/packages/activitypub/services/collection.js
  src/middleware/packages/activitypub/services/inbox.js
  src/middleware/packages/activitypub/services/outbox.js
  src/middleware/packages/activitypub/utils.js
  src/middleware/packages/ldp/adapter.js
  src/middleware/packages/ldp/index.js
  src/middleware/packages/ldp/services/container/actions/get.js
  src/middleware/packages/ldp/services/resource/actions/get.js
  src/middleware/packages/ldp/utils.js
Labels: ldp, ready

#232 Add query param to ldp.container.get action
  src/middleware/packages/ldp/adapter.js
  src/middleware/packages/ldp/services/container/actions/get.js
Labels: ldp, ready

#236 Add LDP container service tests
  src/middleware/packages/ldp/services/container/actions/attach.js
  src/middleware/packages/ldp/services/container/actions/exist.js
  src/middleware/packages/ldp/services/container/actions/get.js
  src/middleware/packages/ldp/services/resource/actions/getByType.js
  src/middleware/packages/ldp/services/resource/actions/post.js
  src/middleware/packages/ldp/services/resource/index.js
  src/middleware/tests/activitypub/initialize.js
  src/middleware/tests/ldp/container.test.js
  src/middleware/tests/ldp/ldp.test.js
  src/middleware/tests/ldp/ldp_api.test.js
  src/middleware/tests/webId/webId.test.js
Labels: ldp, ready

#238 Handle Undo>Follow AP activities
  src/middleware/packages/activitypub/services/collection.js
  src/middleware/packages/activitypub/services/follow.js
  src/middleware/packages/ldp/services/container/actions/attach.js
  src/middleware/packages/ldp/services/container/actions/detach.js
  src/middleware/packages/ldp/services/container/index.js
  src/middleware/packages/ldp/services/resource/actions/delete.js
  src/middleware/packages/ldp/services/resource/actions/exist.js
  src/middleware/packages/ldp/services/resource/index.js
  src/middleware/packages/triplestore/index.js
  src/middleware/tests/activitypub/follow.test.js
  src/middleware/tests/ldp/api.test.js
  src/middleware/tests/ldp/container.test.js
  src/middleware/tests/ldp/resource.test.js
Labels: ready
