Repository assemblee-virtuelle/semapps, pull requests merged in 2022-11, with the labels that each got.

#1075 better perf acl check
  src/middleware/packages/webacl/utils.js
Labels: ready, middleware

#1079 Upgrade to react leaflet 4
  src/frontend/packages/geo-components/dist/index.cjs.js
  src/frontend/packages/geo-components/dist/index.cjs.js.map
  src/frontend/packages/geo-components/dist/index.es.js
  src/frontend/packages/geo-components/dist/index.es.js.map
  src/frontend/packages/geo-components/package.json
  src/frontend/packages/geo-components/rollup.config.js
  src/frontend/packages/geo-components/src/MapField/ChangeView.js
  src/frontend/packages/geo-components/src/MapField/MapField.js
  src/frontend/packages/geo-components/src/MapList/DefaultPopupContent.js
  src/frontend/packages/geo-components/src/MapList/MapList.js
  src/frontend/packages/geo-components/src/MapList/MarkerClusterGroup.js
  src/frontend/packages/geo-components/src/MapList/MobileDrawer.js
  src/frontend/packages/geo-components/src/MapList/QueryStringUpdater.js
  src/frontend/packages/geo-components/src/index.js
  src/frontend/yarn.lock
  website/docs/frontend/geo-components.md
  website/docs/middleware/importer/humhub.md
Labels: breaking changes

#1080 Use SPARQL Update for resources PATCH
  src/middleware/packages/activitypub/constants.js
  src/middleware/packages/activitypub/package.json
  src/middleware/packages/activitypub/service.js
  src/middleware/packages/activitypub/services/actor.js
  src/middleware/packages/activitypub/services/object.js
  src/middleware/packages/activitypub/services/outbox.js
  src/middleware/packages/activitypub/services/proxy.js
  src/middleware/packages/activitypub/services/registry.js
  src/middleware/packages/activitypub/utils.js
  src/middleware/packages/inference/service.js
  src/middleware/packages/ldp/bots/resources-watcher.js
  src/middleware/packages/ldp/mixins/document-tagger.js
  src/middleware/packages/ldp/package.json
  src/middleware/packages/ldp/services/cache/index.js
  src/middleware/packages/ldp/services/container/actions/patch.js
  src/middleware/packages/ldp/services/resource/actions/patch.js
  src/middleware/packages/ldp/services/resource/methods.js
  src/middleware/packages/mirror/service.js
  src/middleware/packages/sparql-endpoint/package.json
  src/middleware/packages/sparql-endpoint/service.js
  src/middleware/packages/triplestore/actions/query.js
  src/middleware/packages/triplestore/actions/update.js
  src/middleware/packages/triplestore/package.json
  src/middleware/packages/triplestore/service.js
  src/middleware/tests/activitypub/object.test.js
  src/middleware/tests/actors/.gitkeep
  src/middleware/tests/ldp/api.test.js
  src/middleware/tests/ldp/resource.test.js
  src/middleware/tests/package.json
  src/middleware/yarn.lock
  website/docs/middleware/activitypub/index.md
  website/docs/middleware/ldp/resource.md
  website/docs/middleware/triplestore/index.md
  website/docs/middleware/webacl/authorizer.md
  website/docs/middleware/webacl/groups-manager.md
Labels: ready

#1083 CoreService: update default PAIR ontology from 2020-winter to 2021-summer
  src/middleware/packages/core/config/ontologies.json
Labels: ready, low difficulty, middleware, low priority
